div{
    padding: 15px;
    width: 100vw;
    background-color: black;
    height: 100px;
    color: white ;
    margin: 0;
}
@media (min-width:600px) {
    div{
        background-color: aqua;
        color: black;
        text-align: right;
    }
}